*.class

# Package Files #
*.war
*.ear
.DS_Store
/WebRoot/WEB-INF/classes
/bin
out
.idea
/.idea
/.idea/workspace.xml
.myeclipse
/.myeclipse
/out
/web
*.log
/index
tools/cobertura-2.1.1/examples
tools/cobertura-2.1.1/examples/*
reports
reports/*
target
target/*
*.ser
.idea/*

src/main/webapp/MyStudy/.cordova/*
src/main/webapp/MyStudy/hooks/*
# src/main/webapp/MyStudy/platforms/*
# src/main/webapp/MyStudy/plugins/*

src/main/webapp/MyStudy/platforms/android/assets/*
src/main/webapp/MyStudy/platforms/browser/www/*
src/main/webapp/MyStudy/platforms/ios/www/*
src/main/webapp/MyStudy/platforms/*/www/*

