<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="defaultCacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:/ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <bean id="ehCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean" scope="singleton">
        <property name="cacheManager" ref="defaultCacheManager"/>
        <property name="cacheName" value="ehcache_10m"/>
    </bean>


    <bean id="methodCacheInterceptor" class="com.forsrc.ehcache.MethodCacheInterceptor">
        <property name="cache" ref="ehCache"/>
    </bean>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="ehcache1"
                      expression="(
                               execution(* com.forsrc.springmvc..manager..get*(..))
                            or execution(* com.forsrc.springmvc..service..get*(..))
                            or execution(* com.forsrc.springmvc..manager..list*(..))
                            or execution(* com.forsrc.springmvc..service..list*(..))
                            or execution(* com.forsrc.springmvc..manager..find*(..))
                            or execution(* com.forsrc.springmvc..service..find*(..))
                            )
                            and not execution(* com.forsrc.springmvc..manager..*Input*(..))
                            and not execution(* com.forsrc.springmvc..service..*Input*(..))
                            and not execution(* com.forsrc.springmvc..manager..*Output*(..))
                            and not execution(* com.forsrc.springmvc..service..*Output*(..))
                            and not execution(* com.forsrc.springmvc.user..manager..getCode(..))
                            and not execution(* com.forsrc.springmvc.user..service..getCode(..))
                      "></aop:pointcut>
        <aop:aspect id="aspectEhcache1" ref="methodCacheInterceptor">
            <aop:around pointcut-ref="ehcache1" method="doAround"/>
        </aop:aspect>
    </aop:config>


    <aop:config proxy-target-class="true">
        <aop:pointcut id="ehcache2"
                      expression="
                             execution(* com.forsrc.springmvc..manager..save*(..))
                          or execution(* com.forsrc.springmvc..service..save*(..))
                          or execution(* com.forsrc.springmvc..manager..update*(..))
                          or execution(* com.forsrc.springmvc..service..update*(..))
                          or execution(* com.forsrc.springmvc..manager..edit*(..))
                          or execution(* com.forsrc.springmvc..service..edit*(..))
                          or execution(* com.forsrc.springmvc..manager..delete*(..))
                          or execution(* com.forsrc.springmvc..service..delete*(..))
                          or execution(* com.forsrc.springmvc..manager..jqGrid*(..))
                          or execution(* com.forsrc.springmvc..service..jqGrid*(..))
                      "></aop:pointcut>
        <aop:aspect id="aspectEhcache2" ref="methodCacheInterceptor">
            <aop:after pointcut-ref="ehcache2" method="doAfter"/>
        </aop:aspect>
    </aop:config>
</beans>

