<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.forsrc.lucene"/>

    <bean id="hibernateSearchApplicationListener"
          class="com.forsrc.hibernate.search.HibernateSearchApplicationListener"/>

    <bean id="hibernateSearchApplicationContextAware"
          class="com.forsrc.hibernate.search.HibernateSearchApplicationContextAware">

    </bean>

    <bean id="mySimpleFSDirectory" class="com.forsrc.lucene.MySimpleFSDirectory">
        <constructor-arg>
            <bean class="java.lang.String">
                <constructor-arg value="jredmine.index/search"/>
            </bean>
        </constructor-arg>
    </bean>

</beans>